<div class="container mt-0 margin-top-25 margin-bottom-25">
  <div
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayout.gt-md="row"
    fxLayoutAlign="space-around center"
    class="content text-center"
  >
    <div class="blocks">
      <button mat-raised-button (click)="Listar()">
        <mat-icon>list</mat-icon> Listar plantillas
      </button>
    </div>
  </div>
</div>

<div class="col-md-10 user-container m-auto ">
  <h2 style="margin: auto;text-align: center">Agregar Plantilla</h2>
  <div class="container">
    <div [hidden]="submitted">
      <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width w-50 p-25">
          <input
            matInput
            placeholder="Nombre"
            [(ngModel)]="plantilla.nombre"
            name="nombre"
          />
        </mat-form-field>

        <mat-form-field class="w-50 p-25">
          <mat-label>Tipo Plantilla</mat-label>
          <mat-select
            [(ngModel)]="plantilla.idTipoPlantilla"
            name="idTipoPlantilla"
          >
            <mat-option
              *ngFor="let tipoPlantilla of tiposPlantilla"
              [value]="tipoPlantilla.id"
            >
              {{ tipoPlantilla.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field class="w-50 p-25">
          <mat-select (selectionChange)="changed($event.value)" placeholder="Fuente de Datos (Ejemplo)">
            <mat-option value="1">Usuarios</mat-option>
            <mat-option value="2">Contratistas</mat-option>
            <mat-option value="3">Tierras</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field class="w-50 p-25">
          <mat-label>Comodines</mat-label>
          <mat-select [(ngModel)]="plantilla.comodin" name="comodin">
              <mat-option
              *ngFor="let comodin of comodines"
              [value]="comodin.key">
              {{ comodin.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width w-100 p-25">
          <input
            matInput
            placeholder="Descripción"
            [(ngModel)]="plantilla.descripcion"
            name="descripcion"
          />
        </mat-form-field>
        <br />
        <angular-editor
          [placeholder]="'Enter text here...'"
          [(ngModel)]="plantilla.contenido"
          [config]="editorConfig"
          name="contenido"
        ></angular-editor>
        <br />
        <button type="submit" mat-raised-button color="primary">Guardar</button>
      </form>
    </div>
    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>
    </div>
  </div>
</div>
